click==8.0.1
colorama==0.4.4
Flask==2.0.1
importlib-metadata==4.4.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pdfminer==20191125
pycryptodome==3.10.1
PyPDF2==1.26.0
typing-extensions==3.10.0.0
Werkzeug==2.0.1
zipp==3.4.1
